main {
    display: grid;
    grid-template-columns: 3fr 7fr;  
    font-family: Georgia, serif;
    height: 100vh;

}
header {
    background-color: blue;
    text-align: center;
    width: 100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    color:white;
   font-size: 3em;

}

h2{
    font-size: 2em;
    padding:20px;
}

nav {
    border: 1px solid black;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height:100vh
}

section {
    border: 1px solid black;
    width:100%;
    padding:20px;
}

input {
    display: block;
}

#cityInfo {
    border: 1px solid black;
}
